.btn-add-cart {
    background-color: orange;
    border-radius: 100px;
    border: transparent;
    font-weight: 500;
    font-size: 36px;
    line-height: 0.90;
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=30, Direction=104, Color=#000000)";/*IE 8*/
    -moz-box-shadow: 4px 16px 30px -12px #000000;/*FF 3.5+*/
    -webkit-box-shadow: 4px 16px 30px -12px #000000;/*Saf3-4, Chrome, iOS 4.0.2-4.2, Android 2.3+*/
    box-shadow: 4px 16px 30px -12px #000000;/* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=30, Direction=135, Color=#000000); /*IE 5.5-7*/
}
.card {padding: 8px;}
.card-body {padding: 0.50rem;}
.card-footer {background: transparent; border-top: none;}